In [2]:
import pandas as pd
# https://github.com/scikit-learn/scikit-learn/issues/6086
data = pd.read_csv("dataset.csv")

In [3]:
data.head()

,religion,requestedprincipal,periodcount,gender,education,lengthofemployment,referencegender,monthlygrosssalary,residencestatus,maritalstatus,numberofdependents,employmentstatus,lineofbusiness,refrelationship,appclientage,label
0,1,2000000.0,30,1,1,6.0,1,16886186,1,1,2.0,1,1,1,1,1
1,1,1000000.0,30,2,2,5.0,2,3680000,2,2,1.0,2,19,2,2,1
2,1,3000000.0,10,1,2,1.0,1,4000000,2,2,1.0,2,17,8,3,1
3,1,2000000.0,30,2,2,5.0,2,5000000,2,3,0.0,1,15,2,2,1
4,3,2000000.0,30,1,1,6.0,1,8000000,2,3,0.0,1,23,2,3,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13766 entries, 0 to 13765
Data columns (total 16 columns):
religion              13766 non-null int64
requestedprincipal    13766 non-null float64
periodcount           13766 non-null int64
gender                13766 non-null int64
education             13766 non-null int64
lengthofemployment    13766 non-null float64
referencegender       13766 non-null int64
monthlygrosssalary    13766 non-null int64
residencestatus       13766 non-null int64
maritalstatus         13766 non-null int64
numberofdependents    13766 non-null float64
employmentstatus      13766 non-null int64
lineofbusiness        13766 non-null int64
refrelationship       13766 non-null int64
appclientage          13766 non-null int64
label                 13766 non-null int64
dtypes: float64(3), int64(13)
memory usage: 1.7 MB

In [5]:
data['religion']= data['religion'].astype('category')
data['requestedprincipal']= data['requestedprincipal'].astype('int64')
data['periodcount']= data['periodcount'].astype('category')
data['gender']= data['gender'].astype('category')
data['education']= data['education'].astype('category')
data['lengthofemployment']= data['lengthofemployment'].astype('int64')
data['referencegender']= data['referencegender'].astype('category')
data['monthlygrosssalary']= data['monthlygrosssalary'].astype('category')
data['residencestatus']= data['residencestatus'].astype('category')
data['maritalstatus']= data['maritalstatus'].astype('category')
data['numberofdependents']= data['numberofdependents'].astype('int64')
data['employmentstatus']= data['employmentstatus'].astype('category')
data['lineofbusiness']= data['lineofbusiness'].astype('category')
data['refrelationship']= data['refrelationship'].astype('category')
data['appclientage']= data['appclientage'].astype('category')
data['label']= data['label'].astype('category')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13766 entries, 0 to 13765
Data columns (total 16 columns):
religion              13766 non-null category
requestedprincipal    13766 non-null int64
periodcount           13766 non-null category
gender                13766 non-null category
education             13766 non-null category
lengthofemployment    13766 non-null int64
referencegender       13766 non-null category
monthlygrosssalary    13766 non-null category
residencestatus       13766 non-null category
maritalstatus         13766 non-null category
numberofdependents    13766 non-null int64
employmentstatus      13766 non-null category
lineofbusiness        13766 non-null category
refrelationship       13766 non-null category
appclientage          13766 non-null category
label                 13766 non-null category
dtypes: category(13), int64(3)
memory usage: 562.0 KB

In [7]:
X = data.drop('label', axis=1)
y = data['label']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=1) # 80% training and 20% test
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)

In [9]:
X_train.shape, X_test.shape, X_val.shape

((8809, 15), (2754, 15), (2203, 15))

In [10]:
X_train.head(3)

,religion,requestedprincipal,periodcount,gender,education,lengthofemployment,referencegender,monthlygrosssalary,residencestatus,maritalstatus,numberofdependents,employmentstatus,lineofbusiness,refrelationship,appclientage
7306,1,3000000,30,2,2,6,1,3652000,2,2,3,2,19,7,3
3889,1,2000000,30,1,1,6,1,8000000,2,1,2,1,7,2,2
4434,1,2000000,30,1,2,6,1,3000000,2,2,2,1,23,2,2

In [11]:
import sklearn.metrics as sklm
from sklearn import tree
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
#Create a Gaussian Classifier
rfc =RandomForestClassifier(n_estimators=500,max_features='sqrt', random_state=1, criterion="gini",bootstrap=True)

#Train the model using the training sets y_pred=clf.predict(X_test)
rfc.fit(X_train,y_train)

# prediction on test set
rfc_predict=rfc.predict(X_test)
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
print("=== Confusion Matrix ===")
print(confusion_matrix(y_test, rfc_predict))

print(classification_report(y_test, rfc_predict))
print("Accuracy:",metrics.accuracy_score(y_test, rfc_predict))

=== Confusion Matrix ===
[[  34  523]
 [  50 2147]]
              precision    recall  f1-score   support

           0       0.40      0.06      0.11       557
           1       0.80      0.98      0.88      2197

   micro avg       0.79      0.79      0.79      2754
   macro avg       0.60      0.52      0.49      2754
weighted avg       0.72      0.79      0.73      2754

Accuracy: 0.7919389978213508

In [13]:
from sklearn.ensemble import RandomForestClassifier

from sklearn import metrics
# build and fit the random_forest classifer using the training set
rfc = RandomForestClassifier(bootstrap=True, max_features=3, n_estimators=100,
                             class_weight=None, criterion='gini',
                             max_depth=None, max_leaf_nodes=None,
                             min_impurity_decrease=0.0, min_impurity_split=None,
                             min_samples_leaf=1, min_samples_split=2,
                             min_weight_fraction_leaf=0.0, n_jobs=1,
                             oob_score=True, random_state=1, verbose=0,
                             warm_start=False)

rfc = rfc.fit(X_train, y_train)
rfc_predict=rfc.predict(X_test)
# # print the score for the training set
# print(rfc.score(X_train, y_train))
print(confusion_matrix(y_test, rfc_predict))

print("Accuracy:",metrics.accuracy_score(y_test, rfc_predict))
print(rfc.oob_score_)

[[  40  517]
 [  53 2144]]
Accuracy: 0.7930283224400871
0.8064479509592463

In [ ]:
# apply the model to the test set and output score - held back data
rfc.score(X_test, y_test)

In [ ]:
rfc.score(X_val, y_val)

In [ ]:
feature_importances = pd.Series(rfc.feature_importances_, index=X.columns)
feature_importances.sort_values(ascending=True).plot(kind="barh", edgecolor="black", color="#1F77B4", figsize=(12,5));

In [ ]:
X_val = pd.DataFrame(X_val)
y_val = pd.DataFrame(y_val)

In [ ]:
data_kasus = pd.concat([X_val,y_val],axis=1)
data_kasus.to_csv ('data_kasus.csv', index = None, header=True, sep=',')

In [ ]:
# predict on some new data
Xnew = [[1,1500000,30,2,2,3,1,3750000,2,3,0,1,19,2,4]]
ynew = rfc.predict(Xnew)
yprob = rfc.predict_proba(Xnew)
print("X=%s, Predicted=%s, Probability=%s" % (Xnew[0], ynew[0], yprob[0]))

In [ ]:
import pickle
# save the model to disk
filename = 'model-cs.sav'
pickle.dump(rfc, open(filename, 'wb'))

In [ ]:
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.predict([[1,1000000,30,2,2,6,2,5500000,2,2,3,1,19,2,2]])
probability = loaded_model.predict_proba([[1,1000000,30,2,2,6,2,5500000,2,2,3,1,19,2,2]])
print(result, probability)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
rfc_predict=rfc.predict(X_test)

In [ ]:
print(confusion_matrix(y_test, rfc))